<div class="container py-5" style="max-width: 520px;"
     data-controller="onboarding">

  <div class="onboarding-progress mb-4 d-flex justify-content-center gap-2">

    <div data-onboarding-target="indicator" class="progress-dot active"></div>
    <div data-onboarding-target="indicator" class="progress-dot"></div>
    <div data-onboarding-target="indicator" class="progress-dot"></div>

  </div>

  <h1 class="hero-title mb-4">Vamos te conhecer melhor</h1>

  <%= form_with model: current_user, url: onboarding_path, method: :patch do |f| %>
    <div data-onboarding-target="step" class="step">
      <label class="form-label small text-muted">Nome completo</label>
      <%= f.text_field :full_name, class: "form-control mb-4", placeholder: "Nome completo" %>

      <label class="form-label small text-muted">Idade</label>
      <%= f.number_field :age, class: "form-control mb-4", placeholder: "Idade" %>

      <label class="form-label small text-muted">Gênero</label>
      <%= f.select :sex, User.sexes.keys.map { |s| [s.humanize, s] }, {}, class: "form-select mb-4" %>

      <button type="button" class="btn btn-primary w-100"
              data-action="click->onboarding#next">
        Próximo
      </button>
    </div>

    <div data-onboarding-target="step" class="step d-none">

      <label class="form-label small text-muted">Cidade</label>
      <%= f.text_field :city, class: "form-control mb-4", placeholder: "Ex: São Paulo, Curitiba..." %>

      <label class="form-label small text-muted">Estado</label>
      <%= f.text_field :state, class: "form-control mb-4", placeholder: "Ex: SP, RJ, PR..." %>

      <label class="form-label small text-muted">Profissão atual</label>
      <%= f.text_field :profession, class: "form-control mb-4", placeholder: "Profissão" %>

      <div class="d-flex gap-2">
        <button type="button" class="btn btn-soft w-50"
                data-action="click->onboarding#back">
          Voltar
        </button>

        <button type="button" class="btn btn-primary w-50"
                data-action="click->onboarding#next">
          Próximo
        </button>
      </div>
    </div>

    <div data-onboarding-target="step" class="step d-none">

      <label class="form-label small text-muted">Peso atual(Kg)</label>
      <%= f.number_field :current_weight,
        class: "form-control mb-4",
        placeholder: "Peso (kg)",
        data: { action: "input->onboarding#formatNumber" } %>

      <label class="form-label small text-muted">Altura(cm)</label>
      <%= f.number_field :height,
        class: "form-control mb-4",
        placeholder: "Altura (m)",
        data: { action: "input->onboarding#formatNumber" } %>

      <label class="form-label small text-muted">Principal objetivo</label>
      <%= f.select :main_goal,
        User.main_goals.keys.map { |g| [g.humanize, g] },
        {},
        class: "form-select mb-4" %>

      <div class="d-flex gap-2">
        <button type="button" class="btn btn-soft w-50"
                data-action="click->onboarding#back">
          Voltar
        </button>

        <%= f.submit "Finalizar", class: "btn btn-primary w-50" %>
      </div>
    </div>
  <% end %>

</div>