<div class="container-lg py-5 fade-up">
  <h2 class="mb-4">
    Olá, <%= client_saudation %>
  </h2>

  <% unless current_user.has_complete_info? %>
    <%= render "shared/onboard_modal" %>
  <% end %>

  <div class="row">

    <% unless current_user.has_complete_info? %>
      <div class="col-12">
        <div class="bg-white p-4 rounded-4 shadow-sm mb-4 border border-warning-subtle">

          <h5 class="mb-2">Complete seu perfil</h5>

          <p class="text-muted mb-3">
            Falta pouco para personalizarmos sua experiência.
          </p>

          <%= link_to "Completar agora",
            clients_onboarding_path,
            class: "btn btn-primary" %>

        </div>
      </div>
    <% end %>

    <div class="col-md-6 mb-4">
      <div class="p-4 bg-white rounded-4 shadow-sm">
        <h5>Seu progresso</h5>
        <p class="text-muted">Acompanhe sua evolução</p>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="p-4 bg-white rounded-4 shadow-sm">
        <h5>Seu plano</h5>
        <p class="text-muted">Veja suas recomendações</p>
      </div>
    </div>

    <!-- TODO: Passar diets para modal ou partial-->
    <div class="col-md-6 mb-4">
      <div class="bg-white p-4 rounded-4 shadow-sm mt-4">

        <h5 class="mb-3">Suas dietas</h5>

        <% if @diets.any? %>

          <% @diets.each do |diet| %>

            <div class="d-flex justify-content-between align-items-center border rounded-4 p-3 mb-3">

              <div>
                <h6 class="fw-semibold mb-1"><%= diet.title %></h6>

                <small class="text-muted">
                  Criada em <%= diet.created_at.strftime("%d/%m/%Y") %>
                </small>
              </div>

              <%= link_to "Ver dieta",
                clients_diet_path(diet),
                class: "btn btn-soft btn-sm" %>

            </div>

          <% end %>

        <% else %>

          <p class="text-muted mb-0">
            Nenhuma dieta disponível ainda.
          </p>

        <% end %>

      </div>
    </div>
  </div>
</div>